.navbar-content__left {
    display: flex;
    align-items: center;
}

.navbar-content__menu {
    display: flex;
    margin-left: 200px;
}

.navbar-content__menu li:not(:last-child) {
    margin-right: 50px;
}


.navbar-content__menu li > a {
    color: #000;
}

.navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}

.navbar-content__profile button:hover {
    background-color: rgb(248, 246, 246);
}

.navbar-content__profile button {
    cursor: pointer;
}
